<div class="page-wrapper">
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Rendez-vous</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/admin/'">Dashboard</a></li>
                        <li class="breadcrumb-item active">Demandes de rv</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-md-12">
                <!-- Recent Orders -->
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="row-border hover table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Ouvrier</th>
                                        <th>Speciality</th>
                                        <th>Client</th>
                                        <th>Date Rv</th>
                                        <th>Status</th>
                                        <th class="text-right">Actions</th>
                                        <!--   <th class="text-right">Amount</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let appoint of appointmentsList">
                                        <td>
                                            <!-- <h2 class="table-avatar" *ngIf="!appoint">
                                                <a [routerLink]="'/admin/doc-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image"></a>
                                                <a [routerLink]="'/admin/doc-profile'">Dr. Ruby Perrin</a>
                                            </h2> -->

                                            <h2 class="table-avatar">
                                                <a [routerLink]="'/admin/doc-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image"></a>
                                                <a [routerLink]="'/admin/doc-profile'">{{appoint.ouvrier?.firstName}}-{{appoint.ouvrier?.lastName}}</a>
                                            </h2>
                                        </td>
                                        <!--  <td *ngIf="!appoint">Dental</td> -->
                                        <td>{{appoint.ouvrier?.reference}}</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink]="'/admin/doc-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient1.jpg" alt="User Image"></a>
                                                <a [routerLink]="'/admin/doc-profile'">{{appoint.utilisateur?.name}} </a>
                                            </h2>
                                        </td>

                                        <td>{{appoint.appointmentDate | date : 'dd MMM yyyy'}} <span class="text-primary d-block">{{appoint.time}}</span></td>
                                        <td>
                                            {{appoint.statusOfAppointment}}
                                            <a class="btn btn-sm bg-success-light" *ngIf="appoint.statusOfAppointment==='Accepted'" disabled data-toggle="modal" (click)="editStatusOfAppointmentModal(editEtattemplate,appoint)" style="cursor: pointer;">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                            <div class="status-toggle">
                                                <input *ngIf="appoint.statusOfAppointment==='Accepted'" type="checkbox" id="status_1" class="check" checked>
                                                <input *ngIf="appoint.statusOfAppointment==='Refused'" type="checkbox" id="status_1" class="check">
                                                <label for="status_1" class="checktoggle">checkbox</label>

                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a data-toggle="modal" (click)="deleteAppointmentModal(delete,appoint)" class="btn btn-sm bg-danger-light">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #editEtattemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modifier le Status</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editEtatForm" novalidate>
            <div class="row form-row">
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" formControlName="id" readonly />
                    </div>
                </div>

                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <select name="statusOfAppointment" formControlName="statusOfAppointment" id="statusOfAppointment" class="form-control">
              <option value="Encours">Encours</option>
              <option value="Accepted">Accepted</option>
              <option value="Refused">Refused</option>
            </select>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block" (click)="updateStatus()">
          Edit
        </button>
        </form>
    </div>
</ng-template>

<ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body text-center">
        Etes-vous sur de vouloir supprimer cet Note?
        <div style="margin-top:25px">
            <button type="button" class="btn btn-default" (mouseover)="btnColor()" id="btn-yes" (click)="deleteAppointment()">Yes</button>
            <button type="button" class="btn btn-primary" (mouseover)="btnColorNo()" id="btn-no" (click)="decline()">No</button>
        </div>
    </div>
</ng-template>