<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7 col-auto">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/admin/'">Dashboard</a></li>
                        <li class="breadcrumb-item active">List Historique Demandes</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Demande</th>
                                        <th>Client</th>
                                        <th>Action</th>
                                        <th>Date</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="
                                            let histApp of historiqueAppointmentsList;
                                            let i = index
                                    ">
                                        <td>{{histApp.id}}</td>
                                        <td>{{histApp.appointment?.reference}}</td>
                                        <td>{{histApp.appointment?.utilisateur.name}}</td>
                                        <td>{{histApp.action}}</td>
                                        <td>{{histApp.createdDate | date:'dd-MM-yyyy'}}</td>

                                        <td class="text-right">
                                            <div class="actions">
                                                <a class="btn btn-sm bg-success-light" data-toggle="modal">
                                                    <i class="fe fe-eye"></i> Voir
                                                </a>
                                                <a data-toggle="modal" (click)="deleteHistoriqueAppointmentModal(delete,histApp)" class="btn btn-sm bg-danger-light">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        Etes vous sur de vouloir supprimer cette HistoriqueAppointment ??
        <div style="margin-top:25px">
            <button type="button" class="btn btn-default" (mouseover)="btnColor()" id="btn-yes" (click)="deleteHistoriqueAppointment()">Oui</button>
            <button type="button" class="btn btn-primary" (mouseover)="btnColorNo()" id="btn-no" (click)="decline()">No</button>
        </div>
    </div>
</ng-template>