<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
                <div class="card search-filter">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Chercher Par filtre</h4>
                    </div>
                    <a class="btn bnt-primary" [routerLink]="['/patients/component/localite']" class="nav-link" style="cursor: pointer;">Recherchez par localité</a>

                    <div class="card-body">
                        <div class="filter-widget">
                            <div class="cal-icon">
                                <input type="text" class="form-control" name="dp" ngbDatepicker #d="ngbDatepicker" placeholder="Select Date">
                            </div>
                        </div>
                        <!--  <div class="filter-widget">
                            <h4>Genre</h4>
                            <div>
                                <label class="custom_check">
									<input type="checkbox" name="gender_type" value="Male" (click)="checkType($event)"  [checked]="type === 'Male'" >
									<span class="checkmark"></span> Ouvrier Homme
								</label>
                            </div>
                            <div>
                                <label class="custom_check">
									<input type="checkbox" name="gender_type" value="Female" [checked]="type === 'Female'"  (click)="checkType($event)">
									<span class="checkmark"></span> Ouvrier Femme
								</label>
                            </div>
                        </div> -->
                        <div class="filter-widget">
                            <h4>Selectionner Metier</h4>
                            <div *ngFor="let specialit of metierList; let i=index;">
                                <label class="custom_check">
                                     <!-- <a [routerLink]="['/patients/search-doctor/metier', specialit.id]" class="nav-link " style="cursor: pointer;"> -->
									 <input [routerLink]="['/patients/search-doctor/metier', specialit.id]" type="checkbox" id="ckb" name="metier" value="metier" (change)="checkMetier($event, 'metier')"> 
									<span class="checkmark"></span> {{specialit.designation}}  <!-- </a> --> 
								</label>
                            </div>

                        </div>
                        <div class="btn-search">
                            <!--  <button type="button" class="btn btn-block" (click)="search()">Chercher</button> -->
                            <button type="button" class="btn btn-block">Chercher</button>
                        </div>
                    </div>
                </div>
                <!-- /Search Filter -->

            </div>

            <div class="col-md-12 col-lg-8 col-xl-9">
                <div class="card" *ngFor="let doctor of ouvrierList" [hidden]="ouvrierList.length === 0">
                    <div class="card-body">
                        <div class="doctor-widget">
                            <div class="doc-info-left">
                                <div class="doctor-img" *ngIf="!this.isLoggedIn">
                                    <a [routerLink]="'/login-page'">
                                        <img class="img-fluid" alt="User Image" src="{{
                                            this.ouvService.apiServerUrl +
                                            '/ouvriers/photoOuvrierInFolder/' +
                                            doctor.id
                                            }}">
                                    </a>
                                </div>
                                <div class="doctor-img" *ngIf="this.isLoggedIn">
                                    <a [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: doctor.id}">
                                        <img class="img-fluid" alt="{{doctor.firstName}}-{{doctor.lastName}}" src="{{
                                            this.ouvService.apiServerUrl +
                                            '/ouvriers/photoOuvrierInFolder/' +
                                            doctor.id
                                            }}">
                                    </a>
                                </div>
                                <div class="doc-info-cont">
                                    <h4 class="doc-name" *ngIf="!this.isLoggedIn">
                                        <a [routerLink]="'/login-page'">{{doctor.firstName}}-{{doctor.lastName}}</a>
                                    </h4>
                                    <h4 class="doc-name" *ngIf="this.isLoggedIn">
                                        <a [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: doctor.id}">{{doctor.firstName}}-{{doctor.lastName}}</a>
                                    </h4>
                                    <p class="doc-speciality">{{doctor.eduction}}</p>
                                    <h5 class="doc-department">
                                        <img class="img-fluid" alt="Metier" src="{{
                                            this.ouvService.apiServerUrl +
                                            '/ouvriers/photoOuvrierInFolder/' +
                                            doctor.id
                                            }}">{{doctor.reference}}</h5>
                                    <div class="rating">
                                        <ngb-rating [max]="maxRatingValue" [(rate)]="currentRating" [readonly]="true" class="text-warning mr-1 filled">
                                        </ngb-rating>
                                        <span class="d-inline-block average-rating">({{ numberOfRatingToOuvrier }})</span>
                                    </div>
                                    <div class="clinic-details">
                                        <p><i class="fas fa-map-marker-alt"></i> {{doctor.addressActuel}}</p>
                                        <p><i class="far fa-clock"></i> {{doctor.disponibity}}</p>
                                        <p>Mobilité : {{doctor.mobilite}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="doc-info-right">
                                <div class="clini-infos">
                                    <ul>
                                        <li><i class="far fa-thumbs-up"></i> 98%</li>
                                        <li><i class="far fa-comment"></i> 17 Feedback</li>
                                        <li><i class="fas fa-map-marker-alt"></i> {{doctor.addressActuel}}</li>
                                        <li><i class="far fa-money-bill-alt"></i> {{doctor.pretentionSalaire}} <i class="fas fa-info-circle" tooltip="Lorem Ipsum" placement="top"></i> </li>
                                    </ul>
                                </div>
                                <div class="clinic-booking" *ngIf="!this.isLoggedIn">
                                    <a class="view-pro-btn" style="cursor: pointer;" [routerLink]="'/login-page'">Voir Profile</a>
                                    <a class="apt-btn" style="cursor: pointer;" (click)="bookAppointment(doctor.id)">Demander un Rv</a>
                                </div>
                                <div class="clinic-booking" *ngIf="this.isLoggedIn">
                                    <a class="view-pro-btn" style="cursor: pointer;" [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: doctor.id}">Voir Profile</a>
                                    <a class="apt-btn" style="cursor: pointer;" (click)="bookAppointment(doctor.id)">Demander un Rv</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="load-more text-center">
                    <ul class=" pagination ">

                        <li class="clikable ">
                            <ngb-pagination [(page)]="page " [pageSize]="pageLength " [collectionSize]="ouvrierSize " (pageChange)="doing() " [maxSize]="8 " [boundaryLinks]="true ">
                            </ngb-pagination>
                        </li>

                    </ul>

                </div>

                <div class="load-more text-center " *ngIf="ouvrierList.length !==0 ">
                    <a class="btn btn-primary btn-sm " href="javascript:void(0); ">Load More</a>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- /Page Content -->