<div class="appointments">
    <h4 class="mb-4">Demande de Rv Effectuées</h4>
    <div class="appointment-list" *ngFor="let patient of appointmentsList">
        <div class="profile-info-widget">
            <a class="booking-doc-img">
                <img *ngIf="patient" class="img-fluid" alt="{{patient?.ouvrier?.firstName}}" src="{{
                  this.ouvService.apiServerUrl +
                  '/ouvriers/photoOuvrierInFolder/' +
                  patient?.ouvrier?.id
                  }}">
            </a>
            <div class="profile-det-info">
                <h3><a>{{patient?.ouvrier?.firstName}} - {{patient?.ouvrier?.firstName}}</a></h3>
                <div class="patient-details">
                    <h5><i class="far fa-clock"></i> {{patient?.appointmentDate | date:'dd-MMM-yyyy'}}, {{patient?.time}}</h5>
                    <h5><i class="fas fa-map-marker-alt"></i> {{patient?.ouvrier?.locality?.name}}</h5>
                    <h5><i class="fas fa-envelope"></i> {{patient?.ouvrier?.email}}</h5>
                    <h5 class="mb-0"><i class="fas fa-phone"></i> {{patient?.ouvrier?.phoneOuvrier}}</h5>
                </div>
            </div>
        </div>
        <div class="appointment-action">
            <a [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: patient?.ouvrier?.id}" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> Voir
            </a>
            <a *ngIf="patient.statusOfAppointment==='Accepted'" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
            </a>
            <a *ngIf="patient.statusOfAppointment==='Encours'" href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                <i class="fas fa-check"></i>Encours
            </a>
            <a *ngIf="patient.statusOfAppointment==='Refused'" href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Refused
            </a>
            <!-- <a (click)="openModal(template,patient)" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
            </a> -->
        </div>
    </div>
    <!-- /Appointment List -->
</div>