<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7">
                    <h3 class="page-title">jetons</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/admin/'">Dashboard</a></li>
                        <li class="breadcrumb-item active">jetons</li>
                    </ul>
                </div>
                <div class="col-sm-5 col">
                    <a class="btn btn-primary float-right mt-2" data-toggle="modal" (click)="openJetonModal(template)">
                         Ajouter
                    </a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Numéro</th>
                                        <th>Client</th>
                                        <th>Montant</th>
                                        <th class="text-center">Status</th>
                                        <th>Date</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let jet of jetonsList">
                                        <td>{{jet.id}}</td>
                                        <td>{{jet.numero}}</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <!--  <a [routerLink]="'/admin/doc-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" [src]="jet.profile" alt="User Image"></a> -->
                                                <a [routerLink]="'/admin/doc-profile'" class="avatar avatar-sm mr-2">{{jet.utilisateur?.name}}</a>
                                            </h2>
                                        </td>
                                        <td>{{jet.montant}}</td>
                                        <td>
                                            <!-- {{jet.etat}} -->
                                            <a class="btn btn-sm bg-success-light" data-toggle="modal" (click)="editEtatModal(editEtattemplate,jet)" style="cursor: pointer; margin-left: 50px;">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                            <div class="status-toggle">
                                                <input *ngIf="jet.etat==='VALIDE'" type="checkbox" id="status_1" class="check" checked>
                                                <input *ngIf="jet.etat==='INVALIDE'" type="checkbox" id="status_1" class="check">
                                                <label for="status_1" class="checktoggle">checkbox</label>
                                            </div>
                                        </td>
                                        <td>{{jet.createdDate | date : 'dd MMM yyyy hh mm a'}}</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a class="btn btn-sm bg-success-light" data-toggle="modal" (click)="editJetonModal(edittemplate,jet)" style="cursor: pointer;">
                                                    <i class="fe fe-pencil"></i> Edit
                                                </a>
                                                <a data-toggle="modal" (click)="deleteModal(delete,jet)" class="btn btn-sm bg-danger-light">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Ajouter Jeton</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
	  </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="col-12 col-sm-12">
                <div class="form-group">
                    <label>Montant</label>
                    <input type="number" class="form-control" name="montant" [(ngModel)]="formDataJeton.montant" #montant="ngModel" />
                </div>
            </div>

            <div class="col-12 col-sm-12 ">
                <div class="form-group ">
                    <label>Client</label>
                    <select name="utilisateur " [(ngModel)]="formDataJeton.utilisateur" class="form-control ">
						<option
							*ngFor="let add of utilisateurList "
							[ngValue]=" add.id==formDataJeton.utilisateur?.id ? formDataJeton.utilisateur : add "
						>
							{{ add.name }}
						</option>
					</select>
                </div>
            </div>
            <button type="submit " class="btn btn-primary btn-block " (click)="save() ">
		  Save Changes
		</button>
        </form>
    </div>
</ng-template>

<ng-template #editEtattemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modifier l'Etat</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editEtatForm" novalidate>
            <div class="row form-row">
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" formControlName="id" readonly />
                    </div>
                </div>
                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <select name="etat" formControlName="etat" id="etat" class="form-control">
                            <option value="VALIDE">VALIDE</option>
                            <option value="ENCOURS">ENCOURS</option>
                            <option value="INVALIDE">INVALIDE</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block" (click)="updateEtat()">
                Edit
            </button>
        </form>
    </div>
</ng-template>

<ng-template #edittemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modifier Jeton</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
		    <span aria-hidden="true">&times;</span>
	    </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm">
            <div class="col-12 col-sm-12">
                <div class="form-group">
                    <label>Montant</label>
                    <input type="number" class="form-control" name="montant" formControlName="montant" />
                </div>
            </div>
            <div class="col-12 col-sm-12 ">
                <div class="form-group ">
                    <label>Client</label>
                    <select [compareWith]="compareFn" formControlName="utilisateur" class="form-control ">
						<option
							*ngFor="let add of utilisateurList "
							[ngValue]="add"
						>
							{{ add.name }}
						</option>
					</select>
                </div>
            </div>
            <button type="submit " class="btn btn-primary btn-block " (click)="update() ">
		  Save Changes
		</button>
        </form>
    </div>
</ng-template>

<ng-template #delete>
    <div class="modal-header ">
        <h4 class="modal-title pull-left ">Delete</h4>
        <button type="button " class="close " data-dismiss="modal " aria-label="Close " (click)="modalRef.hide() ">
		<span aria-hidden="true ">&times;</span>
	  </button>
    </div>
    <div class="modal-body text-center ">
        Etes vous sur de supprimer ce jeton ??
        <div style="margin-top: 25px ">
            <button type="button " class="btn btn-default " (mouseover)="btnColor() " id="btn-yes " (click)="deleteJeton() ">
		  Yes
		</button>
            <button type="button " class="btn btn-primary " (mouseover)="btnColorNo() " id="btn-no " (click)="decline() ">
		  No
		</button>
        </div>
    </div>
</ng-template>