<div class="row">
    <div class="col-md-12">
        <div class="card dash-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="dash-widget dct-border-rht">
                            <div class="circle-bar circle-bar1">
                                <div class="circle-graph1" data-percent="75">
                                    <img src="assets/img/icon-01.png" class="img-fluid" alt="patient">
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6>Total Ouvrier</h6>
                                <h3>{{numbersOfOuvriers}}</h3>
                                <p class="text-muted">A Présent</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-4">
                        <div class="dash-widget dct-border-rht">
                            <div class="circle-bar circle-bar2">
                                <div class="circle-graph2" data-percent="65">
                                    <img src="assets/img/icon-02.png" class="img-fluid" alt="Patient">
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6>Demande acceptées</h6>
                                <h3>{{numberOfAppointmentByCustomerIdAndStatusAccepted}}</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-4">
                        <div class="dash-widget">
                            <div class="circle-bar circle-bar3">
                                <div class="circle-graph3" data-percent="50">
                                    <img src="assets/img/icon-03.png" class="img-fluid" alt="Patient">
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6>Demande de Rv</h6>
                                <h3>{{numberOfAppointmentByCustomerId}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="mb-4">Demande de Rv Effectuées</h4>
        <div class="appointment-tab">

            <!-- Appointment Tab -->
            <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                <li class="nav-item">
                    <a class="nav-link active" href="#upcoming" [ngClass]="{ 'active':activeTab==='upcomming'}" (click)="search('upcomming')" data-toggle="tab">Upcoming</a>
                </li>
                <!--  <li class="nav-item">
                    <a class="nav-link" href="#today" [ngClass]="{ 'active':activeTab==='today'}" (click)="result('today')" data-toggle="tab">Today</a>
                </li> -->
            </ul>
            <!-- /Appointment Tab -->

            <div class="tab-content">

                <!-- Upcoming Appointment Tab -->
                <div class="tab-pane" id="upcoming" [ngClass]="{ 'active':activeTab==='upcomming'}">
                    <div class="card card-table mb-0">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Ouvrier</th>
                                            <th>Description</th>
                                            <th>Date</th>
                                            <th>Heure</th>
                                            <th class="text-center">Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let appointment of appointmentList">
                                            <td>{{appointment.reference}}</td>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a>
                                                        {{appointment?.ouvrier?.firstName}} - {{appointment.ouvrier?.lastName}}
                                                        <span>{{appointment.ouvrier?.metier.designation}}</span></a>
                                                </h2>
                                            </td>
                                            <td>{{appointment.description}}</td>
                                            <td>{{appointment.appointmentDate | date : 'dd MMM yyyy'}}<span class="d-block text-info">{{appointment.time}}</span></td>
                                            <td>{{appointment.time}}</td>
                                            <td class="text-right">
                                                <div class="table-action">
                                                    <a *ngIf="appointment.statusOfAppointment==='Accepted'" class="btn btn-sm bg-success-light">
                                                        <i class="fas fa-check"></i> Accept
                                                    </a>
                                                    <a *ngIf="appointment.statusOfAppointment==='Encours'" href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                        Encours
                                                    </a>
                                                    <a *ngIf="appointment.statusOfAppointment==='Refused'" href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                        <i class="fas fa-times"></i> Refused
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>