<div class="content">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="doctor-widget">
                    <div class="doc-info-left">
                        <div class="doctor-img">
                            <img *ngIf="!ouvrierDetails" src="assets/img/doctors/doctor-thumb-02.jpg" class="img-fluid" alt="User Image">
                            <img *ngIf="ouvrierDetails" class="img-fluid w-100" alt="User Image" src="{{
                                this.ouvService.apiServerUrl +
                                '/ouvriers/photoOuvrierInFolder/' +
                                ouvrierDetails.id
                                }}">
                        </div>
                        <div class="doc-info-cont">
                            <h4 class="doc-name" *ngIf="!ouvrierDetails">Dr. Darren Elder</h4>
                            <h4 class="doc-name" *ngIf="ouvrierDetails">{{ouvrierDetails.firstName}}-{{ouvrierDetails.lastName}}</h4>
                            <p class="doc-speciality" *ngIf="!ouvrierDetails">BDS, MDS - Oral & Maxillofacial Surgery</p>
                            <p class="doc-speciality" *ngIf="ouvrierDetails">{{ouvrierDetails.education}}</p>
                            <p class="doc-department" *ngIf="!ouvrierDetails"><img src="assets/img/specialities/specialities-05.png" class="img-fluid" alt="Speciality">
                                <span> Dentist </span>
                            </p>

                            <p class="doc-department" *ngIf="ouvrierDetails">
                                <img *ngIf="ouvrierDetails" class="img-fluid" alt="Metier" src="{{
                                    this.ouvService.apiServerUrl +
                                    '/ouvriers/photoOuvrierInFolder/' +
                                    ouvrierDetails.id
                                    }}">
                                <span> {{ouvrierDetails.reference}} </span>
                            </p>
                            <div class="rating">
                                <ngb-rating [max]="5" [(rate)]="currentRating" [readonly]="true" class="text-warning mr-1 filled">
                                </ngb-rating>
                            </div>
                            <div class="rating">
                                Prestations :
                                <span class="d-inline-block average-rating">+({{numberOfPrestationOfOuvrier}})</span>
                            </div>
                            <div class="clinic-details">
                                <p class="doc-location" *ngIf="!ouvrierDetails"><i class="fas fa-map-marker-alt"></i> Newyork, USA - <a href="javascript:void(0);">Get Directions</a></p>
                                <p class="doc-location" *ngIf="ouvrierDetails"><i class="fas fa-map-marker-alt"></i> {{ouvrierDetails.addressActuel}}</p>
                            </div>

                            <div class="rating">
                                Expérience :
                                <span class="d-inline-block average-rating">{{ouvrierDetails.nbreAnneeExperience}}</span>
                            </div>
                            <div class="rating">
                                Disponibilité :
                                <span class="d-inline-block average-rating">{{ouvrierDetails.disponibity}}</span>
                            </div>
                            <div class="rating">
                                Mobilité :
                                <span class="d-inline-block average-rating">{{ouvrierDetails.mobilite}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="doc-info-right">
                        <div class="clini-infos">
                            <ul>
                                <form [formGroup]="this.formData">
                                    <div class="form-group">
                                        <label>Demandez un Rendez-vous</label>
                                        <br>
                                    </div>
                                    <div class="form-group">
                                        <label for="date_rv">Date Voulu</label>
                                        <input type="date" formControlName="appointmentDate" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="heure">Heure voulu</label>
                                        <input type="time" formControlName="time" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Votre message</label>
                                        <textarea id="review_desc" formControlName="description" name="description" required="" maxlength="100" class="form-control"></textarea>
                                    </div>
                                    <hr>

                                    <div class="submit-section">
                                        <button type="submit" (click)="onAddAppointment()" class="btn btn-primary submit-btn">Envoyer Demande</button>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body pt-0">
                <!-- Tab Menu -->
                <nav class="user-tabs mb-4">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" href="#doc_overview" data-toggle="tab">Détails</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#doc_reviews" data-toggle="tab">({{numberOfPrestationOfOuvrier}})Prestations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#doc_business_hours" data-toggle="tab">Services Offerts</a>
                        </li>
                    </ul>
                </nav>

                <div class="tab-content pt-0">
                    <div role="tabpanel" id="doc_overview" class="tab-pane fade show active">
                        <div class="row">
                            <div class="col-md-12 col-lg-9">

                                <!-- About Details -->
                                <div class="widget about-widget">
                                    <h4 class="widget-title">A Propos</h4>
                                    <p *ngIf="ouvrierDetails">{{ouvrierDetails.description}}</p>
                                </div>

                                <div class="widget education-widget">
                                    <h4 class="widget-title">Les dernières Prestations</h4>
                                    <div class="experience-box">
                                        <ul class="experience-list">
                                            <li *ngFor="let prest of prestationList; let i=index;">
                                                <div class="experience-user">
                                                    <div class="before-circle"></div>
                                                </div>
                                                <div class="experience-content">
                                                    <div class="timeline-content">
                                                        <a href="#" class="name">{{prest.locality?.name}}, {{prest.locality?.address?.country}} </a>
                                                        <div>{{prest.title}}</div>
                                                        <span class="time">{{prest.createdDate | date:'dd-MMM-yyyy'}}</span>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="service-list">
                                    <h4>Services Offerts</h4>
                                    <ul class="clearfix" *ngFor="let serv of serviceOffertList; let i=index;">
                                        <li>{{serv.designation}} </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" id="doc_reviews" class="tab-pane fade">

                        <div class="widget education-widget">
                            <h4 class="widget-title">Prestations Effectuées</h4>
                            <div class="experience-box">
                                <ul class="experience-list">
                                    <li *ngFor="let prest of top8PrestationList; let i=index;">
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#" class="name">{{prest.locality?.name}}, {{prest.locality?.address?.country}} </a>
                                                <div>{{prest.title}}</div>
                                                <span class="time">{{prest.createdDate | date:'dd-MMM-yyyy'}}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" id="doc_business_hours" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-12 col-lg-9">
                                <div class="service-list">
                                    <h4>Services Offerts</h4>
                                    <ul class="clearfix" *ngFor="let serv of serviceOffertList; let i=index;">
                                        <li>{{serv.designation}} </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>