<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7">
                    <h3 class="page-title">Addresses</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/admin/'">Dashboard</a></li>
                        <li class="breadcrumb-item active">Addresse</li>
                    </ul>
                </div>
                <div class="col-sm-5 col">
                    <a class="btn btn-primary float-right mt-2" data-toggle="modal" (click)="openModal(template)">
                         Ajouter
                    </a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Country</th>
                                        <th>Date created</th>
                                        <th>Date updated</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let add of addressList">
                                        <td><a [routerLink]="'/admin/admin-invoice'">{{add.id}}</a></td>
                                        <td>{{add.code}}</td>
                                        <td>
                                            {{add.name}}
                                        </td>
                                        <td>{{add.country}}</td>
                                        <td>{{add.dataCreate | date: 'd-MMMM-y'}}</td>
                                        <td>{{add.dataUpdate | date: 'd-MMMM-y'}}</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a class="btn btn-sm bg-success-light" data-toggle="modal" (click)="editAddressModal(edittemplate,add)" style="cursor: pointer;">
                                                    <i class="fe fe-pencil"></i> Edit
                                                </a>
                                                <a data-toggle="modal" (click)="deleteAddressModal(delete,add)" class="btn btn-sm bg-danger-light">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Ajouter addresse</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
	  </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="col-12 col-sm-12">
                <div class="form-group">
                    <label>Code</label>
                    <input type="text" name="code" [(ngModel)]="formDataAddress.code" #code="ngModel" class="form-control">
                </div>
            </div>

            <div class="col-12 col-sm-12 ">
                <div class="form-group ">
                    <label>Name</label>
                    <input type="text" name="name" [(ngModel)]=" formDataAddress.name" #name="ngModel" class="form-control">
                </div>
            </div>

            <div class="col-12 col-sm-12">
                <div class="form-group ">
                    <label>Country</label>
                    <input type="text" name="country" [(ngModel)]=" formDataAddress.country" #country="ngModel" class="form-control">
                </div>
            </div>
            <button type="submit " class="btn btn-primary btn-block " (click)="save() ">
		  Save Changes
		</button>
        </form>
    </div>
</ng-template>

<ng-template #edittemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modifier Addresse</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
	  </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm">
            <div class="col-12 col-sm-12">
                <div class="form-group">
                    <label>Code</label>
                    <input type="text" name="code" formControlName="code" class="form-control ">
                </div>
            </div>
            <div class="col-12 col-sm-12 ">
                <div class="form-group ">
                    <label>Name</label>
                    <input type="text" name="name" formControlName="name" class="form-control ">
                </div>
            </div>
            <div class="col-12 col-sm-12">
                <div class="form-group ">
                    <label>Country</label>
                    <input type="text" name="country" formControlName="country" class="form-control ">
                </div>
            </div>
            <button type="submit " class="btn btn-primary btn-block " (click)="updateAddress() ">
		  Update Changes
		</button>
        </form>
    </div>
</ng-template>

<ng-template #delete>
    <div class="modal-header ">
        <h4 class="modal-title pull-left ">Delete</h4>
        <button type="button " class="close " data-dismiss="modal " aria-label="Close " (click)="modalRef.hide() ">
		<span aria-hidden="true ">&times;</span>
	  </button>
    </div>
    <div class="modal-body text-center ">
        Etes vous sur de supprimer cette addresse ??
        <div style="margin-top: 25px ">
            <button type="button " class="btn btn-default " (mouseover)="btnColor() " id="btn-yes " (click)="deleteAddress() ">
		  Yes
		</button>
            <button type="button " class="btn btn-primary " (mouseover)="btnColorNo() " id="btn-no " (click)="decline() ">
		  No
		</button>
        </div>
    </div>
</ng-template>