<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Qui-sommes nous ?</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="terms-content">
                    <div class="terms-text">
                        <h3>RepareTout</h3>
                        <p>RepareTout est une plateforme de mise en relation entre particulier ou entreprise avec des ouvriers.</p>
                        <p> Nous vous accompagnons dans tout le processus de recherche d'un ouvrier selon le profil recherché. RepareTout vous aide à trouver un ouvrier pas loin de votre domicile pour toutes vos réparations.</p>
                    </div>
                    <div class="terms-text">
                        <h4>Pourquoi repareTout ? </h4>
                        <p>repareTout n'est pas uniquement un plateforme de mise en relation, nous mettant en avant professionnalisme et suivi après toute réparation effectué par nos ouvriers</p>
                        <ul>
                            <li>Nos ouvriers sont proches de vos domicile, ce qui diminue votre temps d'attente.</li>
                            <li>Nos ouvriers sont près à faire des dépannages 24h/24h.</li>
                            <li>Nous vous facilitons de trouver un ouvrier rapidement et pas loin de chez vous. </li>
                            <li>Un service de suivi des travaux faites est mise à votre dispositions. </li>
                            <li>Notre selection d'ouvriers est basé sur le professionnalisme, le sérieux, l'engagement. </li>
                            <li>Pour chaque ouvriers, vous trouverez ses différentes prestations. </li>
                            <li>Nos travaillons avec les chefs d'ateliers ou des ouvriers indépendants. </li>
                            <li>Vous avez la possibilité d'attribuer un ouvrier selon votre satisfaction du travail effectué.</li>

                        </ul>
                    </div>
                    <div class="terms-text">
                        <h3>Nos profils d'ouvriers</h3>
                        <p> Chez repareTout vous trouverez plusieurs profils d'ouvriers près à faire des dépannages partout au Sénégal. Les profils que vous trouverez chez repareTout sont :
                        </p>
                        <ul>
                            <li>Mécaniciens (poids lourds & poids léger).</li>
                            <li>Ménuisiers (Métalliques & Bois).</li>
                            <li>Plombiers. </li>
                            <li>Electriciens. </li>
                            <li>Electronicens. </li>
                            <li>Frigoriste.</li>
                            <li>Maçons.</li>
                            <li>Charpantier.</li>
                            <li>Peintre.</li>
                            <li>Carroleurs.</li>
                            <li>Technicien de surface.</li>
                        </ul>
                    </div>
                    <div class="terms-text">
                        <h3>RepareTout</h3>
                        <p>RepareTout n'est pas une promesse mais une réalité. Nous vous envoyons des ouvriers et nous faisons le suivi des travaux effectués
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->