<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Nombre d'inscrit par mois</h4>
                    </div>
                    <div class="card-body">
                        <canvas height="250px;" id="lineChartRegisterPeerMonth"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Nombre d'inscrit par année</h4>
                    </div>
                    <div class="card-body">
                        <canvas height="250px;" id="barChartRegisterPeerYear"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>