<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7">
                    <h3 class="page-title">Email-Address</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/admin/'">Dashboard</a></li>
                        <li class="breadcrumb-item active">Email-Addresse</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>

                                        <th>#</th>
                                        <th>Client</th>
                                        <th>Recepteur</th>
                                        <th>Object</th>
                                        <th>Message</th>
                                        <th>Date Envoi</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let mail of emailAddressList">
                                        <td><a [routerLink]="'/admin/admin-invoice'">{{mail.id}}</a></td>
                                        <td>{{mail.customerName}}</td>
                                        <td>
                                            {{mail.recipient}}
                                        </td>
                                        <td>{{mail.subject}}</td>
                                        <td>{{mail.message}}</td>
                                        <td>{{mail.createDate | date: 'd-MMMM-y'}}</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a class="btn btn-sm bg-success-light" data-toggle="modal" style="cursor: pointer;">
                                                    <i class="fe fe-pencil"></i> Edit
                                                </a>
                                                <a data-toggle="modal" class="btn btn-sm bg-danger-light">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Réponse au email</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
	  </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="col-12 col-sm-12">
                <div class="form-group">
                    <label>Client</label>
                    <input type="text" name="customerName" [(ngModel)]="formDataEmail.customerName" #customerName="ngModel" class="form-control">
                </div>
            </div>

            <div class="col-12 col-sm-12 ">
                <div class="form-group ">
                    <label>Destinataire</label>
                    <input type="text" name="recipient" [(ngModel)]=" formDataEmail.recipient" #recipient="ngModel" class="form-control">
                </div>
            </div>

            <div class="col-12 col-sm-12">
                <div class="form-group ">
                    <label>Object</label>
                    <input type="text" name="subject" [(ngModel)]=" formDataEmail.subject" #subject="ngModel" class="form-control">
                </div>
            </div>

            <div class="col-12 col-sm-12">
                <div class="form-group ">
                    <label>Message</label>
                    <textarea name="message" [(ngModel)]=" formDataEmail.message" #message="ngModel" cols="5" rows="5"></textarea>
                </div>
            </div>
            <button type="submit " class="btn btn-primary btn-block ">
		  Save Changes
		</button>
        </form>
    </div>
</ng-template>

<ng-template #edittemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modifier Email</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
	  </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm">
            <div class="col-12 col-sm-12">
                <div class="form-group">
                    <label>Client</label>
                    <input type="text" name="customerName" formControlName="customerName" class="form-control ">
                </div>
            </div>
            <div class="col-12 col-sm-12 ">
                <div class="form-group ">
                    <label>Destinataire</label>
                    <input type="text" name="recipient" formControlName="recipient" class="form-control ">
                </div>
            </div>
            <div class="col-12 col-sm-12">
                <div class="form-group ">
                    <label>Object</label>
                    <input type="text" name="subject" formControlName="subject" class="form-control ">
                </div>
            </div>
            <div class="col-12 col-sm-12">
                <div class="form-group ">
                    <label>Message</label>
                    <textarea name="message" formControlName="message" cols="5" rows="5"></textarea>
                </div>
            </div>
            <button type="submit " class="btn btn-primary btn-block ">
		  Update Changes
		</button>
        </form>
    </div>
</ng-template>

<ng-template #delete>
    <div class="modal-header ">
        <h4 class="modal-title pull-left ">Delete</h4>
        <button type="button " class="close " data-dismiss="modal " aria-label="Close " (click)="modalRef.hide() ">
		<span aria-hidden="true ">&times;</span>
	  </button>
    </div>
    <div class="modal-body text-center ">
        Etes vous sur de supprimer cet email ??
        <div style="margin-top: 25px ">
            <button type="button " class="btn btn-default " (mouseover)="btnColor() " id="btn-yes " (click)="deleteEmailAddress() ">
		  Yes
		</button>
            <button type="button " class="btn btn-primary " (mouseover)="btnColorNo() " id="btn-no " (click)="decline() ">
		  No
		</button>
        </div>
    </div>
</ng-template>