<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Termes & conditions</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Termes & conditions</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="terms-content">
                    <div class="terms-text">
                        <h3>Conditions générales d’utilisation de la plateforme repareTout.com ?</h3>
                        <p>Les présentes conditions générales d’utilisation visent à définir les droits et obligations respectifs de REPARETOUT, et de l'Employeur.</p>
                        <!-- <p> Nous vous accompagnons dans tout le processus de recherche d'un ouvrier selon le profil recherché. RepareTout vous aide à trouver un ouvrier pas loin de votre domicile pour toutes vos réparations.</p> -->
                    </div>
                    <div class="terms-text">
                        <h4>1. Définitions </h4>
                        <p> <span>Dans le cadre des présentes et sauf stipulations contraires, les termes suivants auront le sens défini ci-après :</span>&nbsp;<br>
                            <span><u>CGU</u> : désigne les présentes conditions générales d’utilisation du service www.repareTout.com à destination des employeurs.</span>&nbsp;<br>
                            <span><u>Formule</u> : désigne un type d’abonnement au service.</span>&nbsp;<br>
                            <span><u>Identifiants</u> :  désigne ensemble le nom utilisateur du Publicateur et le mot de passe associés, fournis par REPARETOUT pour accéder à l’espace d’administration personnalisée.</span>&nbsp;<br>
                            <span><u>RepareTout.com.com</u> : désigne le nom commercial des Services proposés par le site www.repareTout.com.</span>&nbsp;<br>
                            <span><u>Employeur</u> : désigne tout professionnel, entreprise, personne physique ou morale, ayant ouvert un compte sur le Site afin de bénéficier des Services permettant la gestion des offres d'emploi en ligne, la consultation du profil d'un ouvrier, le télécharger de cv et la recherche d'un ouvrier.</span>&nbsp;<br>
                            <span><u>Services</u> : désigne les services proposés sur le Site par REPARETOUT</span>&nbsp;<br>
                            <span><u>Site</u> : désigne le site Internet www.repareTout.com ainsi que ses sous-domaines, dont l’usage est exclusivement dédié aux personnes morales agissant dans le cadre d’une activité professionnelle.</span>&nbsp;<br>
                        </p>
                        <!-- <ul>
                            <li>Nos ouvriers sont proches de vos domicile, ce qui diminue votre temps d'attente.</li>
                            <li>Nos ouvriers sont près à faire des dépannages 24h/24h.</li>
                            <li>Nous vous facilitons de trouver un ouvrier rapidement et pas loin de chez vous. </li>
                            <li>Un service de suivi des travaux faites est mise à votre dispositions. </li>
                            <li>Notre selection d'ouvriers est basé sur le professionnalisme, le sérieux, l'engagement. </li>
                            <li>Pour chaque ouvriers, vous trouverez ses différentes prestations. </li>
                            <li>Nos travaillons avec les chefs d'ateliers ou des ouvriers indépendants. </li>
                            <li>Vous avez la possibilité d'attribuer un ouvrier selon votre satisfaction du travail effectué.</li>

                        </ul> -->
                    </div>

                    <div class="terms-text">
                        <h4>2. Objets </h4>
                        <p>
                            <span>REPARETOUT propose, à travers le Site, des Services permettant aux employeurs :</span>&nbsp;<br>
                            <span> - de trouver un ouvrier en un clic,</span>&nbsp;<br>
                            <span> - de réserver un ouvrier,</span>&nbsp;<br>
                            <span> - de suivre l'état de ses réservations,</span>&nbsp;<br>
                            <span> - de gérer et d’administrer de son profil,</span>&nbsp;<br>
                            <span> - de consulter le détail du profil d'un ouvrier,</span>&nbsp;<br>
                            <span> - de télécharger le cv d'un ouvrier,</span>&nbsp;<br>
                            <span> - d'attribuer une note à un ouvrier, </span>&nbsp;<br>
                        </p>
                    </div>

                    <div class="terms-text">
                        <h4>3. Acceptation des CGU </h4>
                        <p>
                            <span>Les Services proposées par REPARETOUT aux employeurs sont fournis conformément aux présentes CGU</span>&nbsp;<br>
                            <span>Les CGU s’appliquent, sans restriction ni réserve, à l’utilisation des Services par l'Employeur</span>&nbsp;<br>
                            <span>Les CGU sont accessibles à tout moment sur le Site et prévaudront, le cas échéant, sur toute autre version ou tout autre document contradictoire, auquel l'Employeur renonce expressément</span>&nbsp;<br>
                            <span>Le seul fait pour l’Employeur d’utiliser les Services, et notamment de s’inscrire sur le Site ou de publier une offre d'emploi, emporte acceptation sans réserve des CGU dont l’Employeur reconnaît avoir pris connaissance préalablement à son utilisation</span>&nbsp;<br>
                            <span>Les CGU pourront être modifiées à tout moment par REPARETOUT. A défaut pour l’Employeur d’avoir fermé son compte ou de cesser d’utiliser le Service, l’Employeur sera considéré comme ayant accepté les nouvelles CGU</span>&nbsp;<br>
                            <span>REPARETOUT notifiera alors les Employeurs un (1) mois avant l’application des nouvelles CGU. Au terme de ce délai, les nouvelles CGU seront publiées et applicables à toute nouvelle Activité créée par tout nouvel Employeur ou disposant déjà d’un compte sur le Site. L’utilisation des Services après ces modifications entraînent l’acceptation des CGU modifiées. La modification des présentes conditions n’affectera pas les Activités déjà créées et publiées sur le Site</span>&nbsp;<br>

                        </p>
                    </div>

                    <div class="terms-text">
                        <h4>4. Accès au Site et aux services fournis </h4>
                        <p>
                            <span>Pour utiliser les Services fournis par REPARETOUT l'Employeur devra s’inscrire sur le Site en remplissant le formulaire mis à disposition à cet effet. Certaines informations requises sont obligatoires et leur fourniture conditionne la création du compte de l’Employeur</span>&nbsp;<br>
                            <span> <strong>Il n’est autorisé qu’un seul compte par entité juridique. Tout compte qui serait en doublon sera automatiquement désactivé.</strong> <br /> 
                                Une fois le formulaire d’inscription dûment rempli, REPARETOUT fournira à l’Employeur les Identifiants lui permettant d’accéder à un espace personnel à partir duquel il pourra créer et administrer ses offres d'emploi</span>&nbsp;<br>
                            <span>Les Identifiant sont destinés</span>&nbsp;<br>
                            <span> - à réserver l’accès du Service à l’Employeur,</span>&nbsp;<br>
                            <span> - à protéger l’intégrité et la disponibilité du Site et des Services</span>&nbsp;<br>
                            <span> Chaque Identifiant est fourni par REPARETOUT au moment de la souscription au Service ou au cours de son utilisation sur demande de l’Employeur.</span>&nbsp;<br>
                            <span> Chaque Identifiant est personnel et confidentiel. Le mail utilisateur ne peut être changé que sur demande de l’Employeur ou à l’initiative de REPARETOUT sous réserve d’en informer préalablement l’Employeur. Le mot de passe peut-être modifié par l’Employeur dans sa console d’administration.</span>&nbsp;<br>
                            <span> L’Employeur s’engage à mettre tout en œuvre pour conserver secrets ses Identifiants et à ne pas les divulguer sous quelque forme que ce soit.</span>&nbsp;<br>
                            <span> L’Employeur est responsable de l’utilisation de ses Identifiants, notamment par toute personne non autorisée par REPARETOUT. A ce titre, l’Employeur s’engage à informer sans délai et par tout moyen REPARETOUT d’une utilisation non autorisée des Identifiants</span>&nbsp;<br>
                            <span> Si les Identifiants venaient à être perdus ou dérobés, l’Employeur le notifiera sans délai à REPARETOUT par courriel, en s’assurant de la bonne réception par REPARETOUT de cette notification. REPARETOUT annulera alors les Identifiants litigieux et en communiquera de nouveaux à l’Employeur en remplacement de ceux volés ou dérobés..</span>&nbsp;<br>
                            <span> Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du site.</span>&nbsp;<br>
                            <span> En cas d’interruption des Services programmée pour des raisons de maintenance, de sécurité ou de gestion de stockage, la Société informera l’Employeur dans un délai de 2 jours avant l’interruption programmée.</span>&nbsp;<br>
                            <span> Dans ce cadre, la Société indiquera la durée prévisible de l’interruption de services. REPARETOUT s’efforcera de programmer lesdites opérations de maintenance de manière à ce qu’elles interviennent entre une (1) heure et cinq (5) heures du matin, ce afin de minimiser leurs conséquences sur l’accessibilité du Site et de ses Services.</span>&nbsp;<br>
                            <span> La Société s’engage à informer l'Employeur, dès qu’elle en aura connaissance, de tout dysfonctionnement technique affectant son service et susceptible d’entraîner une interruption de plus de vingt-quatre (24) heures, de manière à ce que l'Employeur puisse prendre toutes les dispositions nécessaires. Toute interruption de services non programmée et non fautive ne saurait engager la responsabilité de REPARETOUT.</span>&nbsp;<br>
                            <span> En cas de survenance d’un tel cas de force majeure, la Société s’engage à faire tout son possible pour rétablir les Services dans les plus brefs délais. La responsabilité de la Société ne saurait être engagée si son serveur ou le ou les serveurs sur lequel est stocké le Site était indisponible pour des raisons de force majeure telles que notamment défaillance du réseau public d’électricité, grève, tempêtes, guerres, tremblements de terre, défaillance du réseau de télécommunications, perte de connectivité internet dues aux opérateurs publics et privés dont dépend le Site.</span>&nbsp;<br>
                            <span> L’Employeur renonce à toute indemnité de quelque nature que ce soit en cas de survenance d’un cas de force majeure et REPARETOUT ne pourra être tenu pour responsable en cas d’appel à des prestataires extérieurs ou en cas d’impossibilité de proposer des droits d’accès pour ses Activités via le Site.</span>&nbsp;<br>
                            <span> L’Employeur s’engage de la même manière à informer immédiatement la Société lorsqu’il aura connaissance ou constatera un dysfonctionnement des Services du Site.</span>&nbsp;<br>
                        </p>
                    </div>

                    <div class="terms-text">
                        <h4>5. Dispositions financières </h4>
                        <p>
                            <span><strong>5.1. Usage des Services</strong></span>&nbsp;<br>
                            <span> L’accès aux Services dépend de la formule choisie par l’Employeur. <br /> 
                              4 formules sont proposées :</span>&nbsp;<br>
                            <span> <strong>-FREE : cette formule autorise :</strong> </span>&nbsp;<br>
                            <span> - la réservation d'un ouvrier gratuit pour une durée de trois (3) mois à compter de la date d'inscription,</span>&nbsp;<br>
                            <span> - suivre l'état de ses demandes d'un ouvrier.</span>&nbsp;<br>
                            <span> - la consultation de la liste des ouvriers disponible</span>&nbsp;<br>
                            <span> - voir les détail d'un ouvrier.</span>&nbsp;<br>
                            <span> - le téléchargement du cv d'un ouvrier.</span>&nbsp;<br>
                            <span> <strong> <ul>NB : </ul> </strong> L'accès à ces fonctionnalité a une durée limitée. Tout Employeur inscrit sera notifié à tant avant tout changement.</span>&nbsp;<br>
                            <span> -BASIC, PREMIUM et GOLD : Usage illimité pendant la période de l’abonnement, mensuel ou annuel.</span>&nbsp;<br>
                            <span> Du choix de la formule dépend la disponibilité et l’accès à certaines fonctionnalités</span>&nbsp;<br>
                            <span> Le prix des formules et des fonctionnalités accessibles (ci-après dénommé le « Tarif ») est disponible sur le Site</span>&nbsp;<br>
                            <span> Les prix sont exprimés hors taxe et en francs CFA. La facturation faite à l'Employeur sera donc majorée des droits et taxes en vigueur à la date de l’utilisation de Services ou de facturation.</span>&nbsp;<br>
                            <span> REPARETOUT émettra le ou les factures correspondantes. Ces factures tiendront compte des éventuelles consommations supplémentaires des Services par rapport à la formule initialement commandée par l’Employeur .</span>&nbsp;<br>
                            <span> Les factures sont payables dans les trente (30) jours de leur réception.</span>&nbsp;<br>
                            <span> Tout désaccord de l’Employeur concernant la facturation et la nature du Service devra être exprimé par lettre motivée adressée en recommandée avec accusé de réception dans le délai de quinze (15) jours à compter de la date d’émission de la facture. En l’absence d’une telle lettre, l’Organisateur sera réputé avoir accepté la facturation. Sauf demande expresse de l’Employeur, les factures lui seront adressées par courrier électronique.</span>&nbsp;<br>
                            <span> Les prix figurant au Tarif ne comprennent pas l’accès à Internet et les coûts de ligne téléphonique qui relèvent de la responsabilité de l’Employeur .</span>&nbsp;<br>
                            <span> En cas de retard ou de défaut de paiement d’une seule facture, REPARETOUT se réserve le droit, outre la suspension du Service, de facturer la totalité du prix des Services consommés et non encore facturées à l’Employeur, les factures relatives devenant immédiatement et de plein droit exigibles.</span>&nbsp;<br>
                            <span> REPARETOUT pourra également, à sa propre discrétion, suspendre le Service dans l’attente du règlement des sommes dues.</span>&nbsp;<br>
                            <span> REPARETOUT pourra également, à sa propre discrétion, bloquer le compte de l'Employeur dans le cas du nom respect du nombre de réservation autorisée.</span>&nbsp;<br>
                            <span><strong>5.2. Echéance des Formules</strong></span>&nbsp;<br>
                            <span> Dès que l’Employeur s’abonne à une des Formules, les fonctionnalités associées sont immédiatement accessibles.</span>&nbsp;<br>
                            <span> L’Employeur est informé dans sa console d’administration de la formule à laquelle il est abonné, et de son échéance.</span>&nbsp;<br>
                            <span> Au terme de l’échéance des formules BASIC, PREMIUM, GOLD et FREE, le compte est automatiquement bloqué, à moins que l’Employeur ne se réabonne..</span>&nbsp;<br>
                            <span> S’il reste en FREE, l’ensemble des activités en statut « En cours » sont passées en statut « Terminées » et plus aucune inscription n’est possible.
                              l’Employeur ne pourra que créer de nouvelle fiche payante avec CB.</span>&nbsp;<br>
                            <span> Toute souscription à une Formule BASIC, PREMIUM ou GOLD est due, même si l’Employeur ne fait pas usage des fonctionnalités associées.</span>&nbsp;<br>
                        </p>
                    </div>

                    <div class="terms-text">
                        <h4>6. Gestion des réservation d'un ouvrier </h4>
                        <p>
                            <span><strong>6.1. Création d'un réservation</strong></span>&nbsp;<br>
                            <span> Chaque réservation emise par un Employeur, est automatique mise dans le status ENCOURS</span>&nbsp;<br>
                            <span> La durée de la validation de la réservation par REPARETOUT est de 2h pour permettre à l'Entreprise de bien vérifiée les informations renseignées</span>&nbsp;<br>
                            <span> Toute réservation validée par REPARETOUT entraine l'envoie d'un ouvrier chez l'Employeur à la date indiquée.</span>&nbsp;<br>
                            <span> L’Employeur s’engage à ne pas faire des réservations d’une manière propre à induire les Ouvriers en erreur (réservation trompeuse, réservation mensongère)</span>&nbsp;<br>
                            <span> Lors de la création d’une réservation, l’Employeur reconnaît expressément avoir les droits et autorisations liés à cette Réservation. </span>&nbsp;<br>
                            <span> Par ailleurs l’Employeur certifie sur l’honneur remplir avec précision et véracité les informations demandées par la Société, notamment en ce qui concerne les numéros de téléphone et adresse de messagerie. Si ces informations s’avéraient fausses, REPARETOUT pourra suspendre ou fermer sans délai le compte de l’Employeur .</span>&nbsp;<br>
                        </p>
                    </div>


                    <div class="terms-text">
                        <h4>7. Responsabilité </h4>
                        <p>
                            <span><strong>7.1. Responsabilité relative au contenu transmis par l’Employeur</strong></span>&nbsp;<br>
                            <span> La Société ne saurait être tenue pour responsable d’un quelconque contenu illicite, des textes, propos ou opinions introduits par un Employeur et ne saurait en garantir l’exactitude ou la pertinence</span>&nbsp;<br>
                            <span> Il est interdit d’utiliser les services du Site pour effectuer des réservations fausses et mensongères</span>&nbsp;<br>
                            <span> En cas de diffusion de contenu en infraction aux interdictions visées aux alinéas qui précèdent, la réservation d'un ouvrier pourra être retirée du Site et le compte de l’Employeur pourra être désactivé, sans formalité préalable et sans préjudice d’éventuels dommages et intérêts</span>&nbsp;<br>
                            <span> Il est rappelé que la Société n’assume en aucun cas la responsabilité des contenus, données et informations fournis par l’Employeur et diffusés via le Site.</span>&nbsp;<br>
                            <span> La Société s’engage à assurer la conservation 
                            des données de connexion des Employeurs, 
                            par ailleurs couvertes par le secret professionnel 
                            et traitées dans le respect des dispositions 
                            légales en matière de données personnelles. 
                            A ce titre, la Société s’engage à ne pas utiliser 
                            les données des employeurs à des fins 
                            de prospection commerciale, 
                            pour son compte propre ou en 
                            revendant à une société tierce ces données</span>&nbsp;<br>
                            <span><strong>7.2. Responsabilité relative à la réservation </strong></span>&nbsp;<br>
                            <span> La responsabilité de REPARETOUT se limite à la seule fourniture des Services proposés sur le Site et utilisés par l'Employeur. A ce titre, REPARETOUT s’engage à une obligation de moyen quant à l’accès au Site et aux services fournis par le Site dans le cadre d’une utilisation normale. </span>&nbsp;<br>
                            <span> L’Employeur s’engage à conserver la confidentialité des données à caractère personnel présentes dans la Base de Données, le tout conformément à la Loi n° 2008-12 du 25 janvier 2008 portant sur la protection des données à caractère personnel.</span>&nbsp;<br>
                            <span> Par ailleurs, l’Employeur s’engage à n’utiliser les données à caractère personnel des ouvriers à des fins de prospection commerciale qu’en stricte conformité avec les dispositions de la Loi n° 2008-12 du 25 janvier 2008 portant sur la protection des données à caractère personnel, pour la confiance dans l’économie numérique</span>&nbsp;<br>
                            <span> L’Employeur s’engage plus généralement à ne pas agir de manière à porter atteinte à l’image du cabinet REPARETOUT.com en ce notamment qu’il devra respecter ses obligations envers les ouvriers après les avoir engagés pour un servvice.</span>&nbsp;<br>
                            <span> Chacune des Parties assume la responsabilité des conséquences résultant de ses fautes, erreurs ou omissions, ainsi que des fautes, erreurs ou omissions de ses sous-traitants éventuels et causant un dommage direct à l’autre Partie.</span>&nbsp;<br>
                            <span> En outre, et en cas de faute prouvée par l’Employeur, REPARETOUT ne sera tenue que de la réparation des conséquences pécuniaires des dommages directs et prévisibles du fait de la fourniture des Services.</span>&nbsp;<br>
                            <span> REPARETOUT n’est, en outre, pas tenue responsable de la destruction accidentelle des données par l'Employeur ou un tiers ayant accédé Service au moyen des Identifiants de l’Employeur .</span>&nbsp;<br>

                            <span><strong>7.3. Collecte des données – Loi protection des données à caractère personnel (CDP) </strong></span>&nbsp;<br>
                            <span> L'Employeur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur le site.
                                L’adresse électronique (e-mail) de l'employeur pourra notamment être utilisée par REPARETOUT pour la communication d’informations diverses et la gestion du compte
                                </span>&nbsp;<br>
                            <span> La Société s’engage à assurer la conservation des données des Employeurs pour constituer la liste des inscrits, et bien sûr à ne pas les divulguer, ni les échanger, ni les vendre, pour son compte propre ou pour un Tiers.</span>&nbsp;<br>
                            <span> REPARETOUT s'engage aussi à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.</span>&nbsp;<br>
                            <span> L'Employeur est tenu de ne pas divulguer les données des chauffeurs, ni les échanger, ni les vendre, pour son compte propre ou pour un Tiers</span>&nbsp;<br>
                            <span> Il déclare connaître et respecter la réglementation en vigueur sur la protection des données personnelles présentes dans la Base de Données conformément à la loi européenne entrée en application le 25 mai 2018</span>&nbsp;<br>
                            <span> La Société elle-même sujette au respect de la dite réglementation veille constamment à utiliser tous les standards de sécurité en vigueur et reconnus par les acteurs de l'offre d'emploi et de l’informatique (https, SSL, …).</span>&nbsp;<br>
                            <span> Nous collectons des données personnelles auprès des chauffeurs pour notre compte propre afin d’assurer la bonne exécution de nos services, ainsi que pour le compte de l'employeur. Ces données permettent de rendre le service offert plus adaptées aux besoins des parties et à une expérience utilisateur de qualité </span>&nbsp;<br>


                            <span><strong>7.4. Collecte de Cookies </strong></span>&nbsp;<br>
                            <span>Dans le bon fonctionnement des services de la plateforme REPARETOUT, l’Éditeur effectuera l’implantation de cookies dans le terminal (ordinateur, téléphone etc.) de l’utilisateur.</span>&nbsp;<br>

                        </p>
                    </div>

                    <div class="terms-text">
                        <h4>8. Propriété intellectuelle </h4>
                        <p>
                            <span><strong>8.1. Droits de REPARETOUT </strong></span>&nbsp;<br>
                            <span>REPARETOUT reste propriétaire de l’ensemble des droits, y compris les droits de propriété intellectuelle reconnus par la loi sénégalaise, les traités internationaux et les législations nationales du Site et l'Employeur reconnait le Site comme étant une œuvre de l’esprit que lui- même et les membres de son personnel s’obligent à considérer comme tel en s’interdisant de le copier ou de le reproduire en tout ou partie par n’importe quel moyen et sous n’importe quelle forme, de le transcrire ou de le traduire dans tout autre langage ou langue ou de l’adapter ou de lui adjoindre tout objet non conforme à sa spécification. </span>&nbsp;<br>
                            <span> Le contenu, autre que celui qui pourrait être déposé par un Employeur, inclus ou accessible sur le Site, et notamment tout texte, graphiques, logos, noms, marques, désignations, onglets, fonctionnalités, images, sons, données, photographies, graphiques et tout autre élément (ci-après le « Contenu ») est la propriété exclusive de REPARETOUT et est protégé par le droit de la propriété intellectuelle et l’ensemble de la législation en vigueur </span>&nbsp;<br>
                            <span><strong>8.2. Hébergement des Réservations </strong></span>&nbsp;<br>
                            <span> En rendant accessible du contenu sur le Site par le biais de ses réservations d'ouvrier, l'Employeur accepte que les ouvriers disposent à titre gratuit et à des fins exclusivement personnelles, de la faculté de visualiser et partager le contenu sur le Site, sur d’autres supports de communication électronique (notamment sur les téléphones mobiles) et ce pendant toute la durée de l’hébergement dudit contenu sur le Site. </span>&nbsp;<br>
                            <span> Il est rappelé que compte tenu des spécificités d’Internet, la Société ne saurait être tenue pour responsable d’éventuels détournements ou piratages de contenu.</span>&nbsp;<br>
                        </p>
                    </div>

                    <div class="terms-text">
                        <h4>9. Durée du contrat </h4>
                        <p>
                            <span>Le présent Contrat est conclu pour une durée indéterminée à compter de la confirmation d’ouverture de compte par l’Employeur. </span>&nbsp;<br>
                            <span> La Société se réserve le droit de résilier de plein droit sans sommation préalable et sans préavis le présent contrat en cas de manquement de l'Employeur à l’une quelconque de ses obligations </span>&nbsp;<br>
                            <span>De même l'Employeur peut demander à tout moment la fermeture de son compte en écrivant à contact@repareTout.com , résiliant ainsi de plein droit sans sommation préalable et sans préavis le présent contrat. Dès la résiliation notifiée les éventuels formulaires actifs seront désactivés et REPARETOUT ne saurait être tenu responsable pour les conséquences induites. Si le compte de l'employeur est sous abonnement, aucun remboursement ne pourra être demandé </span>&nbsp;<br>
                            <span> En cas de résiliation le compte passe en formule FREE, et les données restent accessibles dans l’espace administrateur de l'Employeur.
                          L'Employeur peut demander la suppression du serveur de la totalité de ses données via l’email contact@repareTout.com ou par recommandé. La Société a 72 heures ouvrés pour opérer et rendre compte à l’Employeur </span>&nbsp;<br>
                            <span> Aucune des parties ne pourra céder à un tiers tout ou partie de ses droits et obligations sans l’accord préalable et écrit de l’autre partie..</span>&nbsp;<br>
                        </p>
                    </div>

                    <div class="terms-text">
                        <h4>10. Invalidité partielle </h4>
                        <p>
                            <span>L’invalidité d’une des règles des présentes CGU n’entraîne pas l’invalidité des CGU. Les cocontractants s’autorisent donc à modifier une clause invalide par une clause valide si celle-ci a les mêmes finalités que la clause initialement présentée. Ceci s’applique aussi aux éventuelles lacunes contractuelles correspondantes. </span>&nbsp;<br>
                            <span> L'Employeur autorise REPARETOUT à faire état, à titre de référence et à l’attention de ses prospects ou de sa clientèle, du nom et du logo de l’Employeur ainsi que du fait que ce dernier lui a fourni le Service.
                          En cas de résiliation du contrat toute mention du logo et du nom de l'Employeur sera supprimée des supports qui les utiliseraient dans les 7 jours ouvrés après la résiliation. </span>&nbsp;<br>
                        </p>
                    </div>

                    <div class="terms-text">
                        <h4>11. Loi applicable </h4>
                        <p>
                            <span>Les présentes Conditions Générales d’Utilisation sont régies par la loi sénégalaise et de la compétence exclusive des juridictions sénégalaises. </span>&nbsp;<br>
                        </p>
                    </div>

                    <div class="terms-text">
                        <h4>12. Règlement des litiges </h4>
                        <p>
                            <span>Toute réclamation doit être adressée au service client de la Société à l’adresse contact@repareTout.com </span>&nbsp;<br>
                            <span>Tous litiges qui pourraient survenir dans l’exécution des présentes Conditions Générales d’Utilisation doit être soumis à l’Editeur pour discuter en interne afin d’essayer de trouver des solutions à l’amiable avant de les soumettre aux tribunaux compétents de Dakar. </span>&nbsp;<br>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->