<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7 col-auto">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/admin/'">Dashboard</a></li>
                        <li class="breadcrumb-item active">List Utilisateurs</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nom&Prénom</th>
                                        <th>Address</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Username</th>
                                        <th>Status</th>
                                        <th>Inscription</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="
                                            let user of utilisateursList;
                                            let i = index
                                    ">
                                        <td>
                                            <h2 class="table-avatar">

                                                <a [routerLink]="'/admin/doc-profile'" class="avatar avatar-sm mr-2">
                                                    <img [src]="
													this.userService.apiServerUrl +
													'/utilisateurs/avatar/' +
													user.id +
													'?ts=' +
													getTS()
												  " class="avatar-img rounded-circle" /></a>
                                            </h2>
                                        </td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.addressRecruteur}}</td>
                                        <td>{{user.mobile}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.username}}</td>
                                        <td>
                                            <a class="btn btn-sm bg-success-light" data-toggle="modal" (click)="editAccompteStatusModal(editAccountStatustemplate,user)" style="cursor: pointer; margin-left: 50px;">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                            <div class="status-toggle">
                                                <input *ngIf="user.active===true" type="checkbox" id="status_1" class="check" checked>
                                                <input *ngIf="user.active===false" type="checkbox" id="status_1" class="check">
                                                <label for="status_1" class="checktoggle">checkbox</label>
                                            </div>
                                        </td>
                                        <td>{{user.dateInscription | date:'dd-MM-yyyy'}}</td>

                                        <td class="text-right">
                                            <div class="actions">
                                                <a class="btn btn-sm bg-success-light" data-toggle="modal" (click)="viewUtilisateurModal(viewtemplate,user)">
                                                    <i class="fe fe-eye"></i> Voir
                                                </a>

                                                <a class="btn btn-sm bg-success-light" data-toggle="modal" (click)="editUtilisateurModal(edittemplate,user)" style="cursor: pointer;">
                                                    <i class="fe fe-pencil"></i> Edit
                                                </a>
                                                <a data-toggle="modal" (click)="deleteUtilisateurModal(delete,user)" class="btn btn-sm bg-danger-light">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #editAccountStatustemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modifier le status du compte</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editStatusAccountForm" novalidate>
            <div class="row form-row">
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" formControlName="id" readonly />
                    </div>
                </div>
                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <select name="isActive" formControlName="isActive" class="form-control">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block" (click)="updateAccountStatus()">
                Modifier Status compte
            </button>
        </form>
    </div>
</ng-template>

<ng-template #viewtemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Détails compte</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
		    <span aria-hidden="true">&times;</span>
	    </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="viewAccountForm">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Nom Complet</label>
                        <input type="text" class="form-control" name="name" formControlName="name" readonly />
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Photo</label>
                        <!-- <h2 class="table-avatar">
    
                            <a [routerLink]="'/admin/doc-profile'" class="avatar avatar-sm mr-2">
                                <img [src]="
                                this.userService.apiServerUrl +
                                '/utilisateurs/avatar/' +
                                user.id +
                                '?ts=' +
                                getTS()
                              " class="avatar-img rounded-circle" /></a>
                        </h2> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Nom Utilisateur</label>
                        <input type="text" class="form-control" name="username" formControlName="username" readonly />
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Status Compte</label>
                        <div class="status-toggle">
                            <input *ngIf="!isActive" formControlName="active" readonly type="checkbox" id="status_1" class="check" checked>
                            <input *ngIf="isActive" formControlName="active" readonly type="checkbox" id="status_1" class="check">
                            <label for="status_1" class="checktoggle">checkbox</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Addresse</label>
                        <input type="text" class="form-control" name="addressRecruteur" formControlName="addressRecruteur" readonly />
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label>Mobile</label>
                        <input type="text" class="form-control" name="mobile" formControlName="mobile" readonly />
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" formControlName="email" readonly />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label>A Propos</label>
                        <textarea name="information" formControlName="information" class="form-control" readonly cols="5" rows="5"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label>Entreprise</label>
                        <input type="text" class="form-control" name="nomEntreprise" formControlName="nomEntreprise" readonly />
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Secteur Activité</label>
                        <input type="text" class="form-control" name="secteurActivite" formControlName="secteurActivite" readonly />
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label>Website</label>
                        <input type="text" class="form-control" name="website" formControlName="website" readonly />
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Poste</label>
                        <input type="text" class="form-control" name="roles" formControlName="roles" readonly />
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Date inscription</label>
                        <input type="datetime" class="form-control" name="dateInscription" formControlName="dateInscription" readonly />
                    </div>
                </div>
            </div>


            <button type="submit " class="btn btn-primary btn-block " (click)="modalRef.hide()">
		  Fermer
		</button>
        </form>
    </div>
</ng-template>

<ng-template #edittemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modifier informations</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
		    <span aria-hidden="true">&times;</span>
	    </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Nom complet</label>
                        <input type="text" class="form-control" name="name" formControlName="name" />
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Nom utilisateur</label>
                        <input type="text" class="form-control" name="username" formControlName="username" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Addresse</label>
                        <input type="text" class="form-control" name="addressRecruteur" formControlName="addressRecruteur" />
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label>Mobile</label>
                        <input type="text" class="form-control" name="mobile" formControlName="mobile" />
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" formControlName="email" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label>A Propos</label>
                        <textarea name="information" formControlName="information" class="form-control" id="" cols="5" rows="5"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label>Entripse</label>
                        <input type="text" class="form-control" name="nomEntreprise" formControlName="nomEntreprise" />
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Secteur Activité</label>
                        <input type="text" class="form-control" name="secteurActivite" formControlName="secteurActivite" />
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label>Website</label>
                        <input type="text" class="form-control" name="website" formControlName="website" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 ">
                    <div class="form-group ">
                        <label>Poste</label>
                        <select [compareWith]="compareRole" formControlName="utilisateur" class="form-control ">
                            <option
                                *ngFor="let add of utilisateursList "
                                [ngValue]="add"
                            >
                                {{ add.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <button type="submit " class="btn btn-primary btn-block " (click)="updateUtilisateur() ">
		  Save Changes
		</button>
        </form>
    </div>
</ng-template>

<ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        Etes vous sur de vouloir supprimer cet Utilisateur ??
        <div style="margin-top:25px">
            <button type="button" class="btn btn-default" (mouseover)="btnColor()" id="btn-yes" (click)="deleteUtilisateur()">Oui</button>
            <button type="button" class="btn btn-primary" (mouseover)="btnColorNo()" id="btn-no" (click)="decline()">No</button>
        </div>
    </div>
</ng-template>