<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Bienvenu {{ username }}!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon text-primary border-primary">
											<i class="fe fe-users"></i>
										</span>
                            <div class="dash-count">
                                <!-- <h3>168</h3> -->
                                <h3>{{numberOfRegister}}</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">
                            <h6 class="text-muted">Membres</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-primary w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon text-success">
											<i class="fe fe-users"></i>
                                            <!-- <i class="fe fe-credit-card"></i> -->
										</span>
                            <div class="dash-count">
                                <!-- <h3>487</h3> -->
                                <h3>{{numberOfOuvrier}}</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">

                            <h6 class="text-muted">Ouvriers</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-success w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon text-danger border-danger">
											<i class="fe fe-folder"></i>
										</span>
                            <div class="dash-count">
                                <h3>{{numberOfAcceptedAppointmentInYear}}</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">

                            <h6 class="text-muted">Demande Acceptées</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-danger w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon text-warning border-warning">
                                <i class="fe fe-money"></i>
							</span>
                            <div class="dash-count">
                                <h3>{{sumTotalOfJetonInYear}}F</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">

                            <h6 class="text-muted">Revenue</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-warning w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">

                <!-- Sales Chart -->
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Nombre de demande par mois</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="barChartNumberDemandePeerMonth"></canvas>
                        <!-- <div id="morrisArea"></div> -->
                    </div>
                </div>
                <!-- /Sales Chart -->

            </div>
            <div class="col-md-12 col-lg-6">

                <!-- Invoice Chart -->
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Nombre d'inscrits par mois</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="lineChartRegisterPeerMonth"></canvas>
                        <!-- <div id="morrisLine"></div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h4 class="card-title">Observations Ouvriers</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="row-border hover table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Ouvrier</th>
                                        <th>Spécialité</th>
                                        <th>Salaire voulu</th>
                                        <th>Reviews</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let review of listRatings">
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink]="'/admin/doc-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image"></a>
                                                <a [routerLink]="'/admin/doc-profile'">{{review.ouvrier?.firstName}}-{{review.ouvrier?.lastName}}</a>
                                            </h2>
                                        </td>
                                        <td>{{review.ouvrier?.reference}}</td>
                                        <td>{{review.ouvrier?.pretentionSalaire}}</td>
                                        <td>
                                            <ngb-rating [(rate)]="review.nbreEtoile" [id]="'rating3'" [readonly]="true" [max]="maxRatingValue" class="text-warning mr-1">
                                            </ngb-rating>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <div class="paginationRating">
                                <pagination-controls (pageChange)="pRating = $event"></pagination-controls>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 d-flex">
                <div class="card  card-table flex-fill">
                    <div class="card-header">
                        <h4 class="card-title">Liste des 30 des Dernières visites</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Nom Membre</th>
                                        <th>Téléphone</th>
                                        <th>Email</th>
                                        <th>Dernier Visit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let log of listHistoriqueLogin,
                                        let i = index
                                    ">
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink]="'/admin/doc-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient1.jpg" alt="User Image"></a>
                                                <a [routerLink]="'/admin/doc-profile'">{{log.utilisateur?.name}} </a>
                                            </h2>
                                        </td>
                                        <td>{{log.utilisateur?.mobile}}</td>
                                        <td>{{log.utilisateur?.email}}</td>
                                        <td>{{log.createdDate | date:'dd-MM-yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <div class="pagination">
                                <pagination-controls (pageChange)="pMember = $event"></pagination-controls>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-table">
                    <div class="card-header">
                        <h4 class="card-title">Liste des 30 demandes d'ouvriers</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Ouvrier</th>
                                        <th>Speciality</th>
                                        <th>Client</th>
                                        <th>Date Rv</th>
                                        <th>Status</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let appoint of listTop30Appointments">
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink]="'/admin/doc-profile'" class="avatar avatar-sm mr-2">
                                                    <!--  <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image"> -->
                                                    <img class="avatar-img rounded-circle" alt="{{appoint.ouvrier.firstName}}-{{appoint.ouvrier?.lastName}}" src="{{
                                                        this.ouvService.apiServerUrl +
                                                        '/ouvriers/photoOuvrierInFolder/' +
                                                        appoint.ouvrier.id
                                                        }}">
                                                </a>
                                                <a [routerLink]="'/admin/doc-profile'">{{appoint.ouvrier?.firstName}}-{{appoint.ouvrier?.lastName}}</a>
                                            </h2>
                                        </td>
                                        <td>{{appoint.ouvrier?.reference}}</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink]="'/admin/doc-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient1.jpg" alt="User Image"></a>
                                                <a [routerLink]="'/admin/doc-profile'">{{appoint.utilisateur?.name}} </a>
                                            </h2>
                                        </td>
                                        <td>{{appoint.appointmentDate | date : 'dd MMM yyyy'}} <span class="text-primary d-block">{{appoint.time}}</span></td>
                                        <td>
                                            {{appoint.statusOfAppointment}}
                                            <div class="status-toggle">
                                                <input type="checkbox" [checked]="appoint.statusOfAppointment=='Accepted'" id="status_1" class="check">
                                                <label for="status_1" class="checktoggle">checkbox</label>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a routerLink="/admin/appointment" class="btn btn-sm bg-warning-light">
                                                    <i class="fe fe-eye"></i> Voir
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /Recent Orders -->

            </div>
        </div>

    </div>
</div>