<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7 col-auto">
                    <h3 class="page-title">Localité</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/admin/'">Dashboard</a></li>
                        <li class="breadcrumb-item active">List Localités</li>
                    </ul>
                </div>
                <div class="col-sm-5 col">
                    <a class="btn btn-primary float-right mt-2" data-toggle="modal" (click)="openModal(template)">
                         Ajouter
                    </a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nom</th>
                                        <th>Ville</th>
                                        <th>Rue</th>
                                        <th>CodePostal</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="
                                            let loc of localitiesList;
                                            let i = index
                                    ">
                                        <td>{{loc.id}}</td>
                                        <td>{{loc.name}}</td>
                                        <td>{{loc.address?.name}} {{loc.address?.country}}</td>
                                        <td>{{loc.rue}}</td>
                                        <td>{{loc.codePostal}}</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a class="btn btn-sm bg-success-light" data-toggle="modal" (click)="editLocalityModal(edittemplate,loc)">
                                                    <i class="fe fe-pencil"></i> Edit
                                                </a>
                                                <a data-toggle="modal" (click)="deleteLocalityModal(delete,loc)" class="btn btn-sm bg-danger-light">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Ajouter Localité</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row form-row">
                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" [(ngModel)]="formDataLocality.name" name="name" id="name" #name="ngModel" required>
                    </div>
                </div>

                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label>Ville</label>
                        <select name="address" id="address" [(ngModel)]="formDataLocality.address" class="form-control" #address="ngModel" required>
                            <option value="0" selected>-Select-</option>
                            <option  *ngFor="let add of addressesList" [ngValue]="add.id == formDataLocality.address?.id ? formDataLocality.address : add">{{add.name}}-{{add.country}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label>Rue</label>
                        <input type="text" class="form-control" [(ngModel)]="formDataLocality.rue" name="rue" id="rue" #rue="ngModel" required>
                    </div>
                </div>

                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label>CodePostal</label>
                        <input type="text" class="form-control" [(ngModel)]="formDataLocality.codePostal" name="codePostal" id="codePostal" #codePostal="ngModel" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block" (click)="save()"> Save Changes</button>
        </form>
    </div>
</ng-template>

<ng-template #edittemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Localité</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm">
            <div class="row form-row">
                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" formControlName="id" readonly />
                    </div>
                </div>

                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" formControlName="name" name="name">
                    </div>
                </div>
                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label>Rue</label>
                        <input type="text" class="form-control" formControlName="rue" name="rue">
                    </div>
                </div>
                <div class="col-12 col-sm-12 ">
                    <div class="form-group ">
                        <label>Ville</label>
                        <select [compareWith]="compareAddress" formControlName="address" class="form-control ">
                            <option
								*ngFor="let add of addressesList"
                                [ngValue]="add"
                            >
                            {{add.name}}-{{add.country}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label>CodePostal</label>
                        <input type="text" class="form-control" formControlName="codePostal" name="codePostal">
                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-primary btn-block" (click)="updateLocality()">Modifier</button>
        </form>
    </div>
</ng-template>

<ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        Etes vous sur de vouloir supprimer cette Localité ??
        <div style="margin-top:25px">
            <button type="button" class="btn btn-default" (mouseover)="btnColor()" id="btn-yes" (click)="deleteLocality()">Oui</button>
            <button type="button" class="btn btn-primary" (mouseover)="btnColorNo()" id="btn-no" (click)="decline()">No</button>
        </div>
    </div>
</ng-template>