<div class="doc-review review-listing">
    <ul class="comments-list" *ngFor="let review of ratingsList">
        <li>
            <div class="comment">
                <img *ngIf="!review" class="avatar rounded-circle" alt="User Image" src="assets/img/patients/patient.jpg">
                <img *ngIf="review" class="avatar rounded-circle" alt="{{review?.ouvrier?.firstName}}" src="{{
                      this.ouvService.apiServerUrl +
                      '/ouvriers/photoOuvrierInFolder/' +
                      review?.ouvrier?.id
                      }}">
                <div class="comment-body">
                    <div class="meta-data">
                        <span class="comment-author">{{review.ouvrier?.firstName}} - {{review.ouvrier?.lastName}}</span>
                        <span class="comment-date">Note ajoutée le {{review.createdDate | date:'dd-MM-yyyy'}}</span>
                        <div class="review-count" style="color: #ffbc34;">
                            <ngb-rating [(rate)]="review.nbreEtoile" [id]="'rating3'" [readonly]="true" [max]="maxRatingValue" class="text-warning mr-1">
                            </ngb-rating>
                        </div>
                    </div>
                    <p class="recommended"><i class="far fa-thumbs-up"></i> je recommande cet ouvrier</p>
                    <p class="comment-content">
                        {{review.observation}}
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <!-- /Comment List -->

</div>