<div class="header">
    <div class="header-left">
        <a [routerLink]="'/admin/'" class="logo">
            <img src="assets/img/logo.png" alt="Logo">
        </a>
        <a [routerLink]="'/admin/'" class="logo logo-small">
            <img src="assets/admin/img/logo-small.png" alt="Logo" width="30" height="30">
        </a>
    </div>

    <a href="javascript:void(0);" id="toggle_btn">
        <i class="fe fe-text-align-left"></i>
    </a>

    <div class="top-nav-search">
        <form>
            <input type="text" class="form-control" placeholder="Search here">
            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <!-- Mobile Menu Toggle -->
    <a class="mobile_btn" id="mobile_btn">
        <i class="fa fa-bars"></i>
    </a>
    <!-- /Mobile Menu Toggle -->

    <!-- Header Right Menu -->
    <ul class="nav user-menu">

        <!-- Notifications -->
        <li class="nav-item dropdown noti-dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle nav-link" (click)="bell()" [attr.aria-expanded]="!bellCollapsed" aria-controls="collapseExample1">
                <i class="fe fe-bell"></i> <span class="badge badge-pill">{{numberOfPendingAppointment}}</span>
            </a>
            <div class="dropdown-menu notifications" id="collapseExample1" [ngbCollapse]="bellCollapsed">
                <div class="topnav-dropdown-header">
                    <span class="notification-title">Demandes Encours</span>
                    <a href="javascript:void(0)" class="clear-noti" (click)="bellCollapsed = !bellCollapsed"> Clear All </a>
                </div>
                <div class="noti-content">
                    <ul class="notification-list">
                        <li class="notification-message" (click)="bellCollapsed = !bellCollapsed">
                            <a href="javascript:void(0)" routerLink="/admin/appointment">
                                <div class="media">
                                    <span class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/doctors/doctor-thumb-02.jpg">
									</span>
                                    <div class="media-body">
                                        <p class="noti-details"><span class="noti-title">Voir</span> Plus <span class="noti-title">her appointment</span></p>
                                        <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- <li class="notification-message" (click)="bellCollapsed = !bellCollapsed">
                            <a href="javascript:void(0)">
                                <div class="media">
                                    <span class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/patients/patient1.jpg">
									</span>
                                    <div class="media-body">
                                        <p class="noti-details"><span class="noti-title">Charlene Reed</span> has booked her appointment to <span class="noti-title">Dr. Ruby Perrin</span></p>
                                        <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="notification-message" (click)="bellCollapsed = !bellCollapsed">
                            <a href="javascript:void(0)">
                                <div class="media">
                                    <span class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/patients/patient2.jpg">
									</span>
                                    <div class="media-body">
                                        <p class="noti-details"><span class="noti-title">Travis Trimble</span> sent a amount of $210 for his <span class="noti-title">appointment</span></p>
                                        <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="notification-message" (click)="bellCollapsed = !bellCollapsed">
                            <a href="javascript:void(0)">
                                <div class="media">
                                    <span class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/patients/patient3.jpg">
									</span>
                                    <div class="media-body">
                                        <p class="noti-details"><span class="noti-title">Carl Kelly</span> send a message <span class="noti-title"> to his doctor</span></p>
                                        <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                    </div>
                                </div>
                            </a>
                        </li> -->
                    </ul>
                </div>
                <div class="topnav-dropdown-footer">
                    <a href="javascript:void(0)" routerLink="/admin/appointment" (click)="bellCollapsed = !bellCollapsed">Voir tous les demandes</a>
                </div>
            </div>
        </li>
        <!-- /Notifications -->

        <!-- User Menu -->
        <li class="nav-item dropdown has-arrow" id="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle nav-link" class="dropdown-toggle nav-link" (click)="user()" [attr.aria-expanded]="!userCollapsed" aria-controls="collapseExample2">
                <span class="user-img">
                    <img class="rounded-circle" src="assets/admin/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor" *ngIf="!img">
                    <img [src]="
                        this.userService.apiServerUrl +
                        '/utilisateurs/avatar/' +
                        this.id +
                        '?ts=' +
                        getTS()
                        "class="rounded-circle" alt="{{username}}" *ngIf="img" 
                    />
                </span>
            </a>
            <div class="dropdown-menu" id="collapseExample2" [ngbCollapse]="userCollapsed">
                <div class="user-header">
                    <div class="avatar avatar-sm">
                        <img src="assets/admin/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
                    </div>
                    <div class="user-text">
                        <h6>{{username}}</h6>
                        <p class="text-muted mb-0">Administrator</p>
                    </div>
                </div>
                <a class="dropdown-item" (click)="getProfile()" style="cursor: pointer;">My Profile</a>
                <a class="dropdown-item" (click)="getHistoriqueLogin()" style="cursor: pointer;">Settings</a>
                <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
            </div>
        </li>
        <!-- /User Menu -->

    </ul>
    <!-- /Header Right Menu -->

</div>
<!-- /Header -->

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li [routerLink]="'/admin/dashboard'" [class.active]="page === 'Dashboard'">
                    <a (click)="change('Dashboard')"><i class="fe fe-home" style="color: #fff"></i>
						<span style="color: #fff">Dashboard</span></a>
                </li>
                <li [class.active]="page === 'Appointments'">
                    <a (click)="change('Appointments')" [routerLink]="'/admin/appointment'"><i class="fe fe-layout"></i> <span>Appointments</span></a>
                </li>
                <li [class.active]="page === 'Specialities'">
                    <a (click)="change('Specialities')" [routerLink]="'/admin/specialities'"> <i class="fe fe-vector"></i> <span>Métiers</span></a>
                </li>
                <!-- <li [class.active]="page === 'Blog'">
					<a  (click)="change('Blog')" [routerLink]="'/admin/blog'"><i class="fe fe-users"></i> <span>Blog</span></a>
				</li> -->
                <li class="submenu">
                    <a href="javascript:void(0)"><i class="fe fe-users"></i> <span> Ouvriers</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li [class.active]="page === 'Patients'">
                            <a (click)="change('Patients')" [routerLink]="'/admin/patients'"><span>List Ouvriers</span></a>
                        </li>
                        <li [class.active]="page === 'blank page'">
                            <a (click)="change('blank page')" [routerLink]="'blank-page'"> <span>Services Offerts</span></a>
                        </li>
                        <li [class.active]="page === 'Settings'">
                            <a (click)="change('Settings')" [routerLink]="'/admin/settings'"> <span>Prestations</span></a>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0)"><i class="fe fe-layout"></i> <span> Addresse</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li [class.active]="page === 'Product List'">
                            <a (click)="change('Product List')" [routerLink]="'product-list'"> <span>Ville</span></a>
                        </li>
                        <li><a [class.active]="page === 'Horizontal Form'" (click)="change('Horizontal Form')" [routerLink]="'horizondal-form'">Localités </a></li>
                    </ul>
                </li>
                <li [class.active]="page === 'Doctors'">
                    <a (click)="change('Doctors')" [routerLink]="'/admin/doctor'"><i class="fe fe-user-plus"></i> <span>Internautes</span></a>
                </li>
                <li [class.active]="page === 'Transactions'">
                    <a (click)="change('Transactions')" [routerLink]="'/admin/transactions'"><i class="fe fe-activity"></i> <span>Jetons</span></a>
                </li>


                <li class="submenu">
                    <a href="javascript:void(0)"><i class="fe fe-document"></i> <span> Graphiques</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li [class.active]="page === 'Invoice Report'"><a (click)="change('Invoice Report')" [routerLink]="'/admin/invoice-reports'">Appointment</a></li>
                        <li [class.active]="page === 'Blog Details'"><a (click)="change('Blog Details')" [routerLink]="'blog-details'"> Jetons </a></li>
                        <li><a [class.active]="page === 'Basic Inputs'" (click)="change('Basic Inputs')" [routerLink]="'basic-input'">Visiteur </a></li>
                        <li><a [class.active]="page === 'Input Groups'" (click)="change('Input Groups')" [routerLink]="'input-groups'">Inscriptions </a></li>
                    </ul>
                </li>
                <!--  <li class="menu-title">
                    <span>Pages</span>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0)"><i class="fe fe-document"></i> <span> Blog </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li [class.active]="page === 'Blog'"><a (click)="change('Blog')" [routerLink]="'blog'"> Blog </a></li>
                        <li [class.active]="page === 'Blog Details'"><a (click)="change('Blog Details')" [routerLink]="'blog-details'"> Blog Details </a></li>
                        <li [class.active]="page === 'Add Blog'"><a (click)="change('Add Blog')" [routerLink]="'add-blog'"> Add Blog </a></li>
                        <li [class.active]="page === 'Edit Blog'"><a (click)="change('Edit Blog')" [routerLink]="'edit-blog'"> Edit Blog </a></li>
                    </ul>
                </li> -->

                <li [class.active]="page === 'Reviews'">
                    <a (click)="change('Reviews')" [routerLink]="'/admin/reviews'"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
                </li>

                <li [class.active]="page === 'profile'">
                    <a (click)="change('profile')" [routerLink]="'doc-profile'"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0)"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li [class.active]="page === 'Components'">
                            <a (click)="change('Components')" [routerLink]="'components'"><span>Utilisateurs</span></a>
                        </li>
                        <li><a [routerLink]="'login-form'"> Login </a></li>
                        <li><a [routerLink]="'register'"> Register </a></li>
                        <li><a [routerLink]="'forgot-pass'"> Forgot Password </a></li>
                        <li><a [routerLink]="'lock-screen'"> Lock Screen </a></li>
                    </ul>
                </li>
                <!-- <li class="submenu">
                    <a href="javascript:void(0)"><i class="fe fe-warning"></i> <span> Error Pages </span><span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a [routerLink]="'error-first'">404 Error </a></li>
                        <li><a [routerLink]="'error-second'">500 Error </a></li>
                    </ul>
                </li> 

                <li class="menu-title">
                    <span>UI Interface</span>
                </li>
                <li [class.active]="page === 'Components'">
                    <a (click)="change('Components')" [routerLink]="'components'"><i class="fe fe-vector"></i> <span>Components</span></a>
                </li>  
                <li class="submenu">
                    <a href="javascript:void(0)"><i class="fe fe-layout"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a [class.active]="page === 'Basic Inputs'" (click)="change('Basic Inputs')" [routerLink]="'basic-input'">Basic Inputs </a></li>
                        <li><a [class.active]="page === 'Input Groups'" (click)="change('Input Groups')" [routerLink]="'input-groups'">Input Groups </a></li>
                        <li><a [class.active]="page === 'Horizontal Form'" (click)="change('Horizontal Form')" [routerLink]="'horizondal-form'">Horizontal Form </a></li>
                        <li><a [class.active]="page === 'Vertical Form'" (click)="change('Vertical Form')" [routerLink]="'vertical-form'"> Vertical Form </a></li>
                        <li><a [class.active]="page === 'Form Mask'" (click)="change('Form Mask')" [routerLink]="'form-mask'"> Form Mask </a></li>
                        <li><a [class.active]="page === 'Form Validation'" (click)="change('Form Validation')" [routerLink]="'form-validation'"> Form Validation </a></li>
                    </ul>
                </li> -->
                <li class="submenu">
                    <a href="javascript:void(0)"><i class="fe fe-table"></i> <span> Historiques </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a [class.active]="page === 'Basic Tables'" (click)="change('Basic Tables')" [routerLink]="'basic-tables'">HistoriqueAppointment </a></li>
                        <li><a [class.active]="page === 'Data Table'" (click)="change('Data Table')" [routerLink]="'admin-data-table'">HistoriqueLogin </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="fe fe-code"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li class="submenu">
                            <a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li [class.active]="page === 'Level 2'"><a (click)="change('Level 2')" href="javascript:void(0);"><span>Level 2</span></a></li>
                                <li class="submenu">
                                    <a href="javascript:void(0);"> <span> Level 2</span><span class="menu-arrow"></span></a>
                                    <ul style="display: none;">
                                        <li><a href="javascript:void(0);">Level 3</a></li>
                                        <li><a href="javascript:void(0);">Level 3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"> <span>Level 2</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);"> <span>Level 1</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->