<footer class="footer">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="assets/img/footer-logo.png" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>RepareTout est une plateforme de mise en relation entre particulier ou entreprise avec des ouvriers . </p>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Pour Canditats</h2>
                        <ul>
                            <li><a [routerLink]="'/patients/search-doctor'">Chercher Candidats</a></li>
                            <!--                   <li><a [routerLink]="'/patients/booking'">Booking</a></li> -->
                            <li><a [routerLink]="'/about'">A Propos</a></li>
                            <li><a [routerLink]="'/about'">Contact</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Pour Employeur</h2>
                        <ul>
                            <li *ngIf="!this.isLoggedIn"><a [routerLink]="'/login-page'">Appointments</a></li>
                            <li *ngIf="this.isLoggedIn"><a [routerLink]="'/doctor/appointment'">Appointments</a></li>
                            <li><a [routerLink]="'/patients/search-doctor'">Liste Candidats</a></li>
                            <!--                           <li><a [routerLink]="'/patients/booking'">Booking</a></li> -->
                            <li><a [routerLink]="'/login-page'">Se conneccter</a></li>
                            <li><a [routerLink]="'/Register'">s'inscrire</a></li>
                            <li *ngIf="!this.isLoggedIn"><a [routerLink]="'/login-page'">Tableau de bord</a></li>
                            <li *ngIf="this.isLoggedIn"><a [routerLink]="'/doctor/dashboard'">Tableau de bord</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Contact-nous</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p> 233 Hann-Mariste 2, Dakar<br> Dakar, SENEGAL </p>
                            </div>
                            <p>
                                <i class="fas fa-phone-alt"></i> +221 77 944 03 10
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-envelope"></i> support@repareTout.com
                            </p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">

            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0">© 2022 Wokite. All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">

                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a [routerLink]="'/terms-conditions'">Terms et Conditions</a></li>
                                <li><a [routerLink]="'/privacy-policy'">Politiques</a></li>
                            </ul>
                        </div>
                        <!-- /Copyright Menu -->

                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->
</footer>