<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="assets/img/login-banner.png" class="img-fluid" alt="Doccure Register">
                        </div>
                        <div class="col-md-12 col-lg-6 login-right">
                            <div class="login-header">
                                <h3>Etes-vous à la recherche d'un Ouvrier ?
                                </h3>
                                <span> Créer un compte</span>
                            </div>

                            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                                <div class="form-group form-focus">
                                    <input name="name" id="name" formControlName="name" required="" class="form-control floating" placeholder="Votre Nom" type="text" />
                                    <div class="alert alert-danger" *ngIf="
                                        registrationForm.get('name').invalid &&
                                        registrationForm.get('name').touched
                                    ">
                                        <div *ngIf="registrationForm.get('name').errors.required">
                                            Votre nom est obligatoire
                                        </div>
                                    </div>
                                    <label class="focus-label">Nom complet</label>
                                </div>

                                <div class="form-group form-focus">
                                    <!--  <input type="text" name="mobile" class="form-control floating" [(ngModel)]="mobile" max="9"> -->
                                    <input name="username" id="username" formControlName="username" required="" class="form-control floating" placeholder="Nom utilisateur" type="text" />
                                    <div class="alert alert-danger" *ngIf="
                                        registrationForm.get('username').invalid &&
                                        registrationForm.get('username').touched
                                    ">
                                        <div *ngIf="registrationForm.get('username').errors.required">
                                            Votre nom utilisateur est obligatoire
                                        </div>
                                    </div>
                                    <label class="focus-label">Nom utilisateur</label>
                                </div>

                                <div class="form-group form-focus">
                                    <input name="mobile" id="mobile" formControlName="mobile" class="form-control floating" required="" min="9" max="15" placeholder="Votre numéro téléphone" />
                                    <div class="alert alert-danger" *ngIf="
                                        registrationForm.get('mobile').invalid &&
                                        registrationForm.get('mobile').touched
                                    ">
                                        <div *ngIf="registrationForm.get('mobile').errors.required">
                                            Votre numéro téléphone est obligatoire
                                        </div>
                                        <div *ngIf="registrationForm.get('mobile').errors.pattern">
                                            Donner un numéro téléphone valide
                                        </div>
                                    </div>
                                    <label class="focus-label">Mobile</label>
                                </div>

                                <div class="form-group form-focus">
                                    <input name="password" required="" class="form-control floating" placeholder="Votre mot de Password" id="password" formControlName="password" type="password" />
                                    <div class="alert alert-danger" *ngIf="
                                        registrationForm.get('password').invalid &&
                                        registrationForm.get('password').touched
                                    ">
                                        <div *ngIf="registrationForm.get('password').errors.required">
                                            Votre mot de passe est obligatoire
                                        </div>
                                        <div *ngIf="registrationForm.get('password').errors.minlength">
                                            Votre mot de passe doit contenir au moins 6 caractères
                                        </div>
                                    </div>
                                    <label class="focus-label">Mot de Passe</label>
                                </div>

                                <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">S'inscrire</button>
                                <div class="login-or">
                                    <span class="or-line"></span>
                                    <span class="span-or">or</span>
                                </div>
                                <div class="text-center dont-have"> Vous avez déjà un compte alors ?
                                    <a [routerLink]="'/login-page'" style="cursor: pointer;">Se connecter</a></div>

                                <!-- <div class="row form-row social-login">
                                    <div class="col-6">
                                        <a href="javascript:void(0)" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> Se Connecter</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="javascript:void(0)" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> Login</a>
                                    </div>
                                </div> -->
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>