<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Montant total des jetons par mois</h4>
                    </div>
                    <div class="card-body">
                        <canvas height="250px;" id="lineChartJetonPeerMonth"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Montant total des jetons par année</h4>
                    </div>
                    <div class="card-body">
                        <canvas height="250px;" id="barChartJetonPeerYear"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>