<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Liste de vos Jetons</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="row-border hover table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Numéro</th>
                                        <th>Montant</th>
                                        <th>Etat</th>
                                        <th>Date dépot</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let jet of jetonList">
                                        <td>{{jet.id}}</td>
                                        <td>{{jet.numero}}</td>
                                        <td>{{ jet.montant }}</td>
                                        <td>{{ jet.etat }}</td>
                                        <td>{{ jet.createdDate | date: 'dd-MM-yyyy' }}</td>

                                        <td class="text-right">
                                            <div class="table-action">
                                                <a (click)="OpenPdf()" style="cursor: pointer" class="btn btn-warning btn-sm">
                                                    <i class="fa fa-folder-open" aria-hidden="true"></i>Open</a>&nbsp;
                                                <a (click)="PrintPdf()" class="btn btn-sm bg-primary-light">
                                                    <i class="fas fa-print"></i> Print
                                                </a>
                                                <a type="button" (click)="DownloadPdf()" style="cursor: pointer" class="btn btn-sm bg-danger-light">
                                                    <i class="far fa-eye" aria-hidden="true"></i>Download
                                                </a>&nbsp;
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>